#calc {
  width: 80%;
  max-width: 400px;
  min-height: 250px;

  background-color: #deedf9;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  position: relative;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#title-section {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  padding-bottom: 10px;
}

#title-logo {
  display: inline-block;
  width: 40px;
}

#title {
  display: inline-block;
  margin: 0;
  color: #5dacbd;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
}

.wish {
  display: inline-block;
  text-align: center;
  color: #5dacbd;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}

#result {
  margin: 30px 15px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.7em;
}

#how {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #5dacbd;
  margin: 0;
}
