#calc {
  width: 80%;
  max-width: 400px;
  min-height: 250px;

  background-color: #deedf9;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  margin: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#title-section {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  padding-bottom: 10px;
}

#title-logo {
  display: inline-block;
  width: 40px;
}

#title {
  display: inline-block;
  margin: 0;
  color: #5dacbd;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
}
